.field{
    
    width: 80%;
    border: 3px solid green;
    margin: auto;
}

.bat{
    width: 300px;
    transition: transform .3s ease-in;
}

.field:hover .bat{
    transform: rotate(-60deg);
    transform-origin: top right;
    
}
.field:hover .ball{
    transform: translate(1000px ,-150px);
}

.ball {
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
    position: relative;
    left: 424px;
    transition: transform 1s ease-out .4s ;
}
h2{
text-align: center;    
}
